@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:wght@300;400;700;900&family=Oswald:wght@500&family=Raleway:wght@500&family=Space+Grotesk:wght@300&display=swap');

*{
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color:#0B0E11;

}

.navbar{
    width: 100%;
    padding: 50px 10px;
    background-color: #181A20;
    display: inline-flex;
    justify-content: space-between;
    position: sticky;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: small;
    font-weight: bolder;
}
.logo-container{
    margin-left: 5%;
}
.main{
    background-color: #181A20;
    margin-right: 5%;
}
.main a{
    background-color: #181A20;
    padding: 15px;
    
}
#register{
    width: 100%;
    background-color: #18FFFF;
    border-radius: 25px;
}
#login{
    color: #18FFFF;
}
.hero{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/climb.jpg") ;
    height: 90vh;
    background-size: cover;
    background-position: center;
    
}
.hero-content{
    width: 50%;
    position: absolute;
    color: #fff;
    top: 25%;
    padding-left: 40px;
}

.hero-content h1{
    text-align: justify;
    padding: 2%;
    font-size: 70px;
}
 
.hero-btn a{
    text-decoration: none;
}
.hero-btn{
    width: 50%;
    position: absolute;
    color: #fff;
    top: 65%;
    padding-left: 40px;
}
#hero-btn{
    width: 50%;
    padding: 20px;
    background-color: #18FFFF;
    border-radius: 25px;  
} 
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}
.grid-item{
    justify-content: center;
    align-content: center;
    text-align:left;

}
/* main grid starts here */
.main-grid{
    max-width: 100%;
    padding: 5%;
}
.main-grid h1, li{
    padding: 5%;
    color: #fff;
}
.main-grid h1{
    font-size: 50px;
}
#offer{
    font-size:30px ;
    padding: 0;
}
.main-grid li{
    font-size: 20px;
    border-bottom: 3px solid #18FFFF;
 }
.grid-text{

}
/* first grid starts here */
.first-grid{
    background-image: url("../images/pricing-img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

.About-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding: 5% 15px;
    height: 70vh;
}
.grid-item h1, p{
    padding: 10px;
    justify-items: center;
    align-items: center;
    text-align:center;
}
.grid-item h1{
    color: #fff;
}
.grid-item p{
    color: #fff;
    padding: 10px 20px;
}
.Pricing-bot-grid{
    max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50% ;
    justify-items: center;
    align-items: center;
    gap: 1%;
    
}
.price-grid{
    background-color:#181A20 ;
    width: 50%;
    padding: 60px;
    height: 60vh;
    justify-items: center;
    align-items: center;

}

#grid-btn{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: #18FFFF;

}
#grid-btn, a{
    margin-top: 20%;
    text-decoration: none;
}
.footer{
    width: 100%;
    display: grid;
    padding: 20px;
    margin: 20px 5px;
    background-color: #181A20;
    grid-template-columns: auto auto auto auto;
}
.footer-item{
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.footer-item a{
}

